@import "bourbon/bourbon";
@import "base/base";
@import "grid-settings";
@import "neat/neat";

$white: #fff;
$gray: #f3f3f3;
$darkGray: #666;
$red: #f06a5a;
$green: #2db579;
$yellow: #fbb349;
$blue: #259fbf;
$black: #333;

h1,h2,h3,h4,h5 {
  font-family: Lucida Grande;
}

body {
  margin: 0;
  padding: 0;
  background-color: $gray;
  font-family: Lucida Grande;
  font-size: 12px;
  color: #444;
}

a {
  color: $black;
  &:hover {
    color: black;
  }
}

nav {
  background-color: $white;
  padding-top: 8px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  div.container {
    .brand img {
      height: 29px;
    }
  }
  ul.nav-buttons {
    float: right;
    li {
      a { font-size: 11px; }
      a.button.primary {
        margin: 0 10px;
        padding-left: 25px;
        padding-right: 25px;
      }
      display: inline-block;
    }
  }
}

.row {
  @include row;
}

input[type=submit] {
  border-radius: 0;
}
.button {
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  font-family: Helvetica;
  padding: 8px;
  &.primary {
    &:hover {
      background-color: darken($blue, 20%);
    }
    background-color: $blue;
    color: white;
  }
}
div.container {
  @include outer-container;
}

div.element {
  font-size: 9pt;
  color: $darkGray;
  line-height: 1.3;
  font-family: Georgia;
  @include span-columns(4);
  &.type a { border-bottom: 4px solid $blue; }
  &.colors a { border-bottom: 4px solid $green; }
  &.artwork a { border-bottom: 4px solid $red; }
  a {
    display: inline-block;
    text-align: center;
    img {
      width: 76%;
      margin-bottom: 27px;
    }
  }
  h4 {
    color: #444;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    letter-spacing: 4px;
    padding-top: 7px;
    font-weight: 100;
    margin: 20px;
  }
}

div.offset {
  @include shift(1);
}

.headline {
  text-align: center;
  font-size: 30px;
  letter-spacing: -0.25px;
  font-weight: 500;
  color: $black;
  margin-top: 60px;
  margin-bottom: 40px;
}

.call-to-action {
  margin-top: 60px;
  letter-spacing: 0px;
  font-size: 11pt;
  text-align: center;
}

.subscribe {
  color: $darkGray;
  margin-top: 15px;
  input {
    display: inline-block;
    font-size: 12px;
  }
  input[type=email] {
    height: 35px;
    width: 28%;
    padding: 10px;
    @include placeholder {
      color: #ddd;
      text-transform: uppercase;
    }
  }
  input[type=submit] {
    border-radius: none;
    border: 1px solid $blue;
    padding: 8px 20px;
    height: 33px;
  }
}
.footer {
  margin-top: 30px;
  height: 50px;
}
